
<div class="header">
<h1>Eat-Da-Burger</h1>
<center><img src="public/assets/images/burger-reaper.png" /></center>
</div>
<div> Burgers to be Decimated
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
        <button type="button" class="decimateBurger" id="decimateButton" data-id="{{this.id}}" 
        data-newDevoured={{Decimate}}></button>
        <hr>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div> Decimated Burgers
  <ul>
    {{#each burgers}}
      {{#if decimated }}
        {{burger_name}}
      {{/if}}
    {{/each}}
  </ul>
</div>